<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-image: url("https://cdn2.vectorstock.com/i/1000x1000/93/31/motor-vehicles-of-various-types-driving-on-road-vector-19449331.jpg");
            background-size: cover;
        }

        .pd {
            padding-bottom: 45%;
        }
    </style>
</head>
<body>
    <br>
    <center>
        <b class="pd"><font color="black" size="15" font-family="Comic Sans MS">The predicted image is:</font></b>
    </center>
    <br><br>vv
    <div>
        <br>
        <center>
            <h2><font color="black">The picture is a </h2>
            <h2><font color="black">{{ predict }}</h2>
        </center>
    </div>
</body>
</html>